<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <a href="/students/create">Add New Student</a>
  <ul>
    <% for(var i=0; i < list.length; i++) { %>
      <li>
        <%= ` Id: ${list[i].id}\t First Name: ${list[i].firstName}\t Last Name: ${list[i].lastName}\t Date of
          Birth:${list[i].dateOfBirth}\t Tuition Fees: ${list[i].tuitionFees} ` %>&nbsp;
          <a href="/students/delete?id=<%=list[i].id%>">Delete</a>&nbsp;&nbsp;
          <a href="/students/edit?id=<%=list[i].id%>">Edit</a>
      </li>
      <% } %>
  </ul>
</body>

</html>